.root { -fx-background-image: url("background.png")}

.label{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: crimson;

}

#actiontarget {
    -fx-fill: darksalmon;
    -fx-font-weight: bold;
}

.button{
    -fx-text-fill: white;
    -fx-font-family: sans-serif;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1 , #2A5058);
}